* {
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,Cantarell,"Noto Sans",sans-serif,BlinkMacSystemFont,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial!important;
}

#root {
    .app {
        height: 100vh;
        background: #222;
    }
}
