.home-root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 300px;
    font-size: 50px;
    background: #9ae37533;

    .text {
        color: #252525;
    }
}
