.home-two-root {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 800px;
    font-size: 50px;
    background: #ffe7ba;
    border-radius: 10px;
}
