.home-two-root {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 1000px;
    height: 800px;
    font-size: 50px;
    background: #ffe7ba;
    border-radius: 10px;
}
